@media screen and (min-width: 1023px) {
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-justify;
  }
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 16px;
}

@media screen and (min-width: 1023px) {
  .app-header {
    align-items: flex-start;
  }
}

.app-main {
  padding: 16px;
}

.app-section {
  height: 600px;
}

.app-submit,
.main-submit {
  padding: 16px 0;
}

@media screen and (min-width: 1023px) {
  .app-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 1;
  }

  .app-aside {
    width: 320px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app-section {
    flex-grow: 1;
    height: auto;
  }

  .app-submit {
    padding: 16px 0 0 0;
  }
}

.location-coordinates {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.map-placeholder {
  text-align: center;
}

@media screen and (min-width: 1023px) {
  .map-placeholder {
    text-align: left;
  }
}

#submit-journey,
#extra-submit-journey {
  width: 100%;
}

@media screen and (min-width: 1023px) {
  #extra-submit-journey {
    display: none;
  }
}
